body {
    background-color: #d6c1da;
}
h1 {text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #462f5d;
    font-weight: 900;
    font-size: 220%
}
h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #56380b;
    font-size: 220%;
    font-family:"math";
}
#displayAllBookings {
    width:100%;
    background-color: #d7a659;
    font-family:"math";

}
.image{
    display: block;
    width:600px;
    height:400px;
    float:right;
    background-position: right;
}
.btn-primary{
    background-color: #7213d5;
    border-color: black;
    width:200px;
    height:40px;
    margin: 0;
    position: center;
    left: 50%;
}
.paragraph{
    font-family:"Papyrus";
    font-size: 120%;
    color: #462f5d;
}
.guest-book{
    display: flex;
    flex-basis: 200px;
    margin-bottom: 20px;
    justify-content: center;
}
.img{
    display: flex;
    width: 200px;
    height: 150px;
    margin-left: 40px;

}
.guest-text{
    color: #7213d5;
    font-style: italic;
    text-align: center;
    margin-left: 40px;

}
.google-map-calendar{
    display: flex;
    flex-basis: 400px;
    margin-bottom: 20px;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
}
#map{
    display: flex;
    height: 250px;
    width: 400px;
    justify-content: flex-end;
}
#calendar{
    display: flex;
    justify-content: flex-start;
    height: 250px;
    width: 400px;
}
.text-map-calendar{
    text-align: center;
    color: #7213d5;
    font-style: italic;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    font-size: larger;
    color: ivory;
    padding-top: 30px;
    background-color: #4b2f5d;
}
.link{
    margin-right: 30px;

}
